*.elc
.*
/abbrev_defs
/ac-comphist.dat
/ac-dictionary/
/auto-save-list/
/backups/
/elpa/
/eshell/
/ido.last
/projectile-bookmarks.eld
/projectile.cache
/recentf
/savehist
/saveplace
/swank/
/tramp
/url/
