*.elc
.*
/abbrev_defs
/ac-comphist.dat
/ac-dictionary/
/auto-save-list/
/backups/
/bookmarks
/custom.el
/dirvish/
/eln-cache/
/elpa/
/eshell/
/games/
/ido.last
/network-security.data
/projectile-*.eld
/projectile.cache
/recentf
/savehist
/saveplace
/straight/build/
/straight/build-cache.el
/straight/modified/
/straight/repos/
/swank/
/tramp
/transient/
/tree-sitter/
/url/
